@use 'base/mixins' as m;
@use 'base/variables' as v;

.main {
    background-color: v.$gris-claro;

    &__contenedor {
        @include m.contenedor;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 4rem 0;
        }
    }

    &__contenido {
        text-align: center;

        @include m.tablet {
            text-align: left
        }

        &--titulo {
            font-size: 4rem;
            color: #111827;
            margin-bottom: 1rem;
        }

        &--texto {
            font-size: 2.5rem;
            color: v.$negro;
            margin-bottom: 2rem;
        }

        &--boton {
            display: inline-block;
            background-color: #2563eb;
            color: v.$blanco;
            padding: 1rem 4rem;
            border-radius: 0.5rem;
            font-size: 2rem;
            font-weight: v.$bold;
            text-decoration: none;
            transition: background-color 0.3s ease;
        
            &:hover {
              background-color: #1e40af;
            }
        }
    }

    img {
        @include m.shadow;
        max-width: 70rem;
        border-radius: 0.75rem;
    }
}

.somos {
  @include m.contenedor-md;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__texto {
    font-size: 2.5rem;
    text-align: center;
  }
}


.modulos {
    padding: 4rem 2rem;
    max-width: 1000px; // más estrecho para acercar los módulos
    margin: 0 auto;
  
    &__titulo {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      color: #111827;
      margin-bottom: 2rem;
    }
  
    &__grid {
      @include m.grid(1, 2rem);
      justify-content: center;
      align-items: center;

      @include m.tablet {
        @include m.grid(2, 2rem);
      }

      @include m.desktop {
        @include m.grid(4, 2rem);
      }
    }
  }
  
  .modulo {
    background-color: v.$blanco;
    border: 1px solid v.$gris;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    width: 100%;
    text-align: center;
  
    &:hover {
        cursor: pointer;
        @include m.shadow;
    }
  
    &__icono {
      margin-bottom: 1rem;
  
      img {
        width: 64px;
        height: 64px;
      }
    }
  
    &__nombre {
      font-size: 2rem;
      font-weight: 600;
      color: #1f2937;
      margin-bottom: 0.5rem;
    }
  
    &__descripcion {
      font-size: 1.5rem;
      color: #6b7280;
    }
  }
  