@use 'base/mixins' as m;
@use 'base/variables' as v;
@use "sass:color";

.body {
    background-color: v.$gris-claro;
}

.dashboard {
    @include m.contenedor;
    padding: 2rem;

    &__flex {
        display: flex;
        min-height: 100vh;
    }

    &__stats {
        margin-bottom: 2rem;
        @include m.grid(1,1rem);
        @include m.tablet() {
            @include m.grid(2,1rem);
        }
        @include m.xl_desktop() {
            @include m.grid(4,1rem);
        }

        &--stat {
            flex: 1;
            min-width: 200px;
            padding: 1.5rem;
            background: v.$blanco;
            border-radius: 12px;
            @include m.shadow;
            text-align: center;
          
            h3 {
              margin-bottom: 0.3rem;
              font-weight: v.$black;
            }
          
            p {
              color: v.$negro;
            }
        }

        &--stat-alert h3{
            color: v.$rojo;
        }

        &--stat-warning h3{
            color: v.$amarillo;
        }
    }

    
}
.tabla {
    background: v.$blanco;
    border-radius: 1.2rem;
    padding: 2rem;
    @include m.shadow;

    &__contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }

    &__filtros {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;

        &--filtro-select,
        &--filtro-input {
            padding: 1rem;
            border-radius: .5rem;
        }

    }

    &__busqueda {
        padding: 1rem;
        border-radius: .5rem;
    }

    &__heading {
        font-size: 3rem;
        font-weight: v.$bold;
        text-align: left;
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 2.5rem;

        thead {
            background: linear-gradient(to right, #1f2937, color.adjust(#111827, $lightness: 20%));
        }

        th {
            padding: 1.2rem;
            text-align: left;
            color: v.$blanco;
            font-weight: v.$bold;
            border-bottom: 1px solid v.$gris-claro;
            font-size: 2rem;
        }

        td {
            font-size: 1.8rem;
            padding: 1.2rem;
            color: v.$negro;
        }

        tr {
            border-top: 1px solid v.$gris;
        }

    }

    &__acciones {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: v.$bold;
        transition: all ease .6s;

        &--editar {
            background-color: v.$amarillo;
            color: v.$blanco;
            padding: .7rem;
            border-radius: .5rem;
            border: 1px solid v.$amarillo;
            
            &:hover {
                background-color: v.$blanco;
                color: v.$amarillo;
            }
        }

        &--eliminar {
            background-color: v.$rojo;
            border: 1px solid v.$rojo;
            color: v.$blanco;
            padding: .7rem;
            border-radius: .5rem;

            &:hover {
                background-color: v.$blanco;
                color: v.$rojo;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}